@import url("https://fonts.googleapis.com/css?family=Lobster");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lobster", sans-serif;
    background-color: #d8d8d8;
}
